h3 {
    color: dodgerblue;
}

li {
    list-style: none;
}

li.cityInfoItem {
    background-color: darkblue;
    color: white;
    margin-bottom: 5px;
    padding: 5px 10px;
}

ul {
    padding: 0;
    margin: 0;
}

ul.cityInfo {
    padding: 0;
    margin: 0;
}

.cityHeaderTitle {
    display: inline-block;
}

.cityInfoItemHeader {
    font-weight: bold;
    margin-right: 10px;
}

.cityHeaderInfo {
    width: 130px;
}


.cityInfoItem, .cityHeader, .cityHeaderInfo {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


li.city {
    width: 40%;
}

.weatherIcon {
    height: 1.5em;
    width: 1.5em;
}

button.close {
    background-color: lightblue;
    text-align: center;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

ul li.city {
    display: inline-block;
    margin-right: 5%
}

ul li.city:nth-child(even) {
    margin-right: 0
}

.favoriteSection {
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
}

.updateButtonMobile {
    display: none;
    background-image: url("resources/update.png");
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.updateButtonMain{
    border: none;
    background-color: lightblue;
    border-radius: 12px;
    padding: 10px;

}

.currentCity{
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
}

.currentInfo{
    display: inline-block;

}

.currentTemp{
    font-size: 3em;
}


@media screen and (max-width: 700px) {
    ul li.city {
        display: block;
    }

    li.city {
        width: 90%;
    }

    .favoriteSection {
        display: block;
    }

    .updateButtonMain {
        display: none;
    }

    .updateButtonMobile{
        display: inline;
        position: absolute;
        top: 35px;
        left: 200px;
    }

    .currentCity{
        display: block;

    }
}



.updateButtonMain {
    position: absolute;
    top: 35px;
    left: 45%;
    transform: translate(-50%, 0);
}

