ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.updateButtonMobile {
    display: none;
    background-image: url("resources/update.png");
    background-repeat: no-repeat;
    background-size: 28px 28px;
    height: 30px;
    width: 30px;
    background-position: 1px;
    border: none;
    border-radius: 50%;
}

.favoriteSectionValue{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%

}

li.cityInfoItem {
    background-color: darkblue;
    color: white;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.cityHeaderTitle {
    display: inline-block;
}

.cityInfoItemHeader {
    font-weight: bold;
    margin-right: 10px;
}

.cityHeaderInfo {
    width: 130px;
}

.cityInfoItem, .cityHeader, .cityHeaderInfo {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

li.city {
    width: 40%;
}

li.city {
    display: inline-block;
    margin-right: 19%
}

li.city:nth-child(even) {
    margin-right: 0
}

.favoriteSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currentMainInfo, .currentInfo {
    display: inline-block;
    width: 40%;
    margin-right: 19%
}

.currentInfo{
    margin-right: 0
}

.currentTemp {
    font-size: 3em;
}

@media screen and (max-width: 700px) {
    li.city {
        display: block;
    }

    li.city {
        width: 90%;
    }

    .currentInfo {
        width: 90%;
        margin-right: 0;
    }

    .currentInfo, .currentMainInfo {
        width: 90%;
    }

    .updateButtonMain {
        display: none;
    }

    .updateButtonMobile {
        display: inline;
        position: absolute;
        top: 20px;
        left: 300px;
    }

    .currentCity {
        display: block;
        vertical-align: center;
    }

    .favoriteSection{
        width: 90%
    }

    .favoriteSection {
        display: block;
    }

    .favoriteSectionValue{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%
    }

}

input.addCity {
    border: none;
    background-color: lightblue;
    width: 75%;
    padding: 5px 5px;
    border-radius: 10px;
}

.updateButtonMain {
    position: absolute;
    top: 20px;
    left: 45%;
    border: none;
    background-color: lightblue;
    border-radius: 12px;
    padding: 10px;
}

button.close {
    background-color: deepskyblue;
    text-align: center;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.cityHeaderTemperature{
    margin-left: 10px;
}

.weatherIcon {
    height: 3em;
    width: 3em;
}

.geo-update{
}

body{
    margin: 0 20%
}

.loader {
    display: none;
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

.loaderVisible{
    display: block;
}

.loaderAdd{
    display: block;
    width: 100%;
    align-items: end;

}
