h3 {
    color: dodgerblue;
}
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.updateButtonMobile {
    display: none;
    background-image: url("resources/update.png");
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.updateButtonMain {


}



li.cityInfoItem {
    background-color: darkblue;
    color: white;
    margin-bottom: 5px;
    padding: 5px 10px;
}




.cityHeaderTitle {
    display: inline-block;
}

.cityInfoItemHeader {
    font-weight: bold;
    margin-right: 10px;
}

.cityHeaderInfo {
    width: 130px;
}


.cityInfoItem, .cityHeader, .cityHeaderInfo {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

li.city {
    width: 40%;
}

ul li.city {
    display: inline-block;
    margin-right: 5%
}

ul li.city:nth-child(even) {
    margin-right: 0
}


.favoriteSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15%;
}



.currentMainInfo, .currentInfo {
    display: inline-block;
    width: 40%;
    margin-right: 5%
}

.currentTemp {
    font-size: 3em;
}


@media screen and (max-width: 700px) {
    ul li.city {
        display: block;
    }

    li.city {
        width: 90%;
    }

    .currentInfo {
        width: 90%;
        margin-right: 0;
    }

    .currentInfo, .currentMainInfo {
        width: 90%;
        margin-right: 0;
    }


    .favoriteSection {
        display: block;
    }


    .updateButtonMain {
        display: none;
    }

    .updateButtonMobile {
        display: inline;
        position: absolute;
        top: 35px;
        left: 200px;
    }

    .currentCity {
        display: block;
        width: 90%;
        vertical-align: center;
    }
}

input.addCity {
    border: none;
    background-color: lightblue;
    width: 300px;
    padding: 10px 5px;
    border-radius: 10px;
}


.updateButtonMain {
    position: absolute;
    top: 20px;
    left: 35%;
    border: none;
    background-color: lightblue;
    border-radius: 12px;
    padding: 10px;
}

button.close {
    background-color: deepskyblue;
    text-align: center;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.weatherIcon {
    height: 1.5em;
    width: 1.5em;
}

